/* Reset some default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f8f8f8;
}

header {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}

nav {
    background-color: #48909c;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: -11px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px s;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calculator {
    background-color: rgb(143, 189, 216);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(51, 48, 48, 0.1);
    width: 80%;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 20px;
    color: #666;
}

form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 18px;
}

button {
    background-color: #11d3da;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #006680;
}

.result {
    margin-top: 30px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

footer {
    background-color: #347c73;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* ... Existing CSS ... */

button.hidden {
    display: none;
}
